.header {
    position: fixed;
    z-index: 16;
    left: 0;
    top: 0;
    width: 100%;

    transition: background-color 0.3s ease 0s;

    &:has(.header__burger._active) {
        .header__phone {
            opacity: 0;
            max-width: 0;
            pointer-events: none;
        }
    }

    // .header__container

    &__container {
    }

    // .header__body

    &__body {
    }

    // .header__top

    &__top {
        padding: 28px 0;
        border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);

        position: relative;
        z-index: 11;
        display: flex;
        align-items: center;
        justify-content: space-between;

        overflow: hidden;
        max-height: 120px;
        transition:
            max-height 0.3s ease 0s,
            padding 0.3s ease 0s;

        @media (max-width: 1024px) {
            padding: 12px 0;
            height: 64px;
        }

        // .header__top-left

        &-left {
            @media (max-width: 1024px) {
                flex: 0 0 auto;
            }
        }

        // .header__top-right

        &-right {
            display: flex;
            align-items: center;

            @media (max-width: 1024px) {
                flex-direction: column-reverse;
            }

            ._btn {
                @media (max-width: 1024px) {
                    width: 100%;
                    margin: 32px 0;
                }
            }
        }
    }

    ._btn {
        @media (min-width: 1240px) {
            width: 182px;
        }
    }

    // .header__logo

    &__logo {
        margin-right: 26px;

        svg {
            @include adaptive-value("width", 156, 100, 1);
            @include adaptive-value("height", 48, 40, 1);
            fill: $white;
        }
    }

    // .header__bottom

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;

        transition: padding 0.3s ease 0s;

        // .header__bottom-btn

        &-btn {
            max-width: 0;
            overflow: hidden;
            transition: max-width 0.3s ease 0s;

            @media (max-width: 1024px) {
                display: none;
            }

            ._btn {
                margin-left: 20px;

                @media (max-width: 1200px) {
                    width: 48px;

                    span {
                        display: none;
                    }

                    svg {
                        margin: 0;
                    }
                }
            }
        }
    }

    // .header__info

    &__info {
        display: flex;
        align-items: center;

        & > :not(:last-child) {
            @media (min-width: 1025px) {
                @include adaptive-value("margin-right", 48, -20, 1);
            }
        }

        @media (min-width: 1025px) {
            @include adaptive-value("margin-right", 48, -20, 1);
        }

        @media (max-width: 1024px) {
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;
        }

        @media (max-width: 640px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        svg {
            flex: 0 0 auto;
            width: 15px;
            height: 15px;
            fill: currentColor;
            transition: all 0.3s ease 0s;

            &._accent {
                fill: $accent;
            }
        }

        // .header__info-item

        &-item {
            & > :first-child {
                margin-bottom: 4px;
            }

            span,
            label {
                display: block;
                font-weight: 400;
            }

            span {
                font-size: 13px;
                opacity: 0.6;
            }

            label {
                font-size: 15px;
            }

            a {
                transition: all 0.3s ease 0s;

                @media (any-hover: hover) {
                    &:hover {
                        color: rgba($color: $white, $alpha: 0.6);
                    }
                }
                &:not(:has(._desctop)) {
                    display: flex;
                    align-items: center;
                }

                &:has(._desctop) {
                    span {
                        @media (max-width: 1024px) {
                            opacity: 1;
                            font-size: 15px;
                        }
                    }
                }

                div {
                    display: flex;
                    align-items: center;
                }

                svg {
                    margin-right: 8px;
                    display: block;
                }

                span,
                label,
                svg {
                    pointer-events: none;
                    display: block;
                }
            }
        }
    }

    // .header__phone

    &__phone {
        font-size: 15px;

        display: flex;
        align-items: center;
        flex: 0 0 auto;
        margin-right: 10px;
        margin-left: auto;
        white-space: nowrap;
        transition: all 0.3s ease 0s;
        max-width: 150px;

        display: none;

        svg {
            margin-right: 8px;
            display: block;
            flex: 0 0 auto;
            width: 15px;
            height: 15px;
            fill: currentColor;
        }

        @media (max-width: 1024px) {
            display: flex;
        }
    }

    // .header__burger

    &__burger {
        align-items: center;

        label {
            font-size: 15px;
            white-space: nowrap;
            opacity: 0;
            max-width: 0;
            display: block;

            transition: all 0.3s ease 0s;
        }

        div {
            width: 40px;
            height: 40px;
            position: relative;
        }

        span {
            position: absolute;
            left: 50%;
            width: 32px;
            height: 1px;
            background-color: $white;
            border-radius: 4px;
            pointer-events: none;
            transform: translate(-50%, -50%);

            transition: all 0.3s ease 0s;

            &:first-child {
                top: 12px;
            }

            &:nth-child(2) {
                top: 50%;
            }

            &:nth-child(3) {
                top: calc(100% - 12px);
            }
        }

        * {
            pointer-events: none;
        }

        &._active {
            label {
                opacity: 1;
                max-width: 150px;
                margin-right: 12px;
            }

            span {
                &:first-child {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }

        display: none;

        @media (max-width: 1024px) {
            display: flex;
        }
    }

    nav {
        padding-top: 24px;

        @media (max-width: 1024px) {
            position: fixed;
            top: 64px;
            z-index: 15;
            left: 0;
            width: 100%;
            height: calc(100% - 64px);
            overflow-y: auto;
            background-color: $black;

            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 56px;

            transform: translate3d(101%, 0, 0);
            transition: transform 0.3s ease 0s;

            &._open {
                transform: translate3d(0, 0, 0);
            }
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 1024px) {
                display: block;
            }

            @media (min-width: 1025px) {
                @include adaptive-value("gap", 32, -10, 1);
            }

            & > :not(:last-child) {
                @media (max-width: 1024px) {
                    margin-bottom: 20px;
                }
            }

            .inner-ul {
                @media (min-width: 1025px) {
                    position: relative;
                    height: 0;
                    width: 0;
                    order: -1;

                    & > ul {
                        position: static;
                        margin-top: 16px;
                    }
                }

                @media (max-width: 1024px) {
                    flex: 0 0 100%;
                    width: 100%;
                }
            }

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;

                transition: all 0.3s ease 0s;
                padding-bottom: 20px;

                @media (max-width: 1024px) {
                    width: 100%;
                    flex-wrap: wrap;
                    padding-bottom: 0;
                }

                a {
                    white-space: nowrap;
                    font-size: 15px;
                    font-weight: 400;
                    display: block;
                }

                & > a {
                    transition: color 0.3s ease 0s;
                }

                button {
                    transition: all 0.3s ease 0s;
                    margin-left: 5px;
                    flex: 0 0 auto;
                    margin-right: 13px;

                    @media (max-width: 1024px) {
                        margin-right: 0;
                        flex: 1 1 auto;
                    }

                    svg {
                        transition: all 0.3s ease 0s;
                        width: 9px;
                        fill: currentColor;

                        @media (max-width: 1024px) {
                            margin-left: auto;
                        }
                    }
                }

                &[data-open] {
                    & > .inner-ul > ul {
                        opacity: 1;
                        pointer-events: all;

                        @media (min-width: 1025px) {
                            padding: 6px 4px;
                        }

                        @media (max-width: 1024px) {
                            max-height: 50vh;
                            margin-top: 20px;
                        }
                    }

                    & > a {
                        color: rgba($color: $white, $alpha: 0.6);
                    }

                    & > button svg {
                        transform: rotate(180deg);
                        fill: rgba($color: $white, $alpha: 0.6);
                    }
                }

                @media (any-hover: hover) {
                    &:hover {
                        & > .inner-ul > ul {
                            opacity: 1;
                            pointer-events: all;
                            visibility: visible;

                            @media (min-width: 1025px) {
                                padding: 6px 4px;
                            }

                            @media (max-width: 1024px) {
                                max-height: 50vh;
                            }
                        }

                        & > a {
                            color: rgba($color: $white, $alpha: 0.6);
                        }

                        & > button > svg {
                            transform: rotate(180deg);
                            fill: rgba($color: $white, $alpha: 0.6);
                        }
                    }
                }

                ul {
                    display: block;
                    gap: 0;
                    overflow: hidden;
                    overflow-y: auto;
                    padding: 0;
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.3s ease 0s;

                    @media (min-width: 1025px) {
                        border-radius: 8px 0 0 8px;
                        border: 1px solid rgba($color: $white, $alpha: 0.2);
                        background: rgba($color: $black, $alpha: 0.95);
                        min-width: 336px;
                        max-height: 492px;
                        flex: 0 0 100%;
                        top: calc(100% - 11px);
                        left: 0;
                        position: absolute;

                        &::-webkit-scrollbar {
                            width: 4px;
                            border-radius: 2px;
                            background: rgba($color: $white, $alpha: 0.1);
                        }

                        &::-webkit-scrollbar-thumb {
                            width: 4px;
                            border-radius: 2px;
                            background: rgba($color: $white, $alpha: 0.6);
                        }
                    }

                    @media (max-width: 1024px) {
                        position: static;
                        transform: none;
                        min-width: 0;
                        width: 100%;
                        max-height: 0;
                        overflow: hidden;
                        overflow-y: auto;

                        border-radius: 8px;
                        box-shadow: 0px 0px 0px 1px rgba($color: $white, $alpha: 0.2);

                        & > :not(:last-child) {
                            margin-bottom: 8px;
                        }

                        & > :first-child {
                            margin-top: 20px;
                        }

                        & > :last-child {
                            margin-bottom: 20px;
                        }

                        li {
                        }
                    }

                    li {
                        text-align: left;
                        width: 100%;
                        padding: 0;

                        @media (min-width: 1025px) {
                            &:after {
                                position: absolute;
                                content: "";
                                width: 20px;
                                height: 40px;
                                opacity: 0;
                                left: 316px;

                                @media (any-hover: none) {
                                    display: none;
                                }
                            }
                        }

                        @media (max-width: 1024px) {
                            padding: 0 20px;
                        }

                        &[data-open] {
                            @media (min-width: 1025px) {
                                background-color: $accent;
                            }

                            & > ul {
                                opacity: 1;
                                pointer-events: all;
                                visibility: visible;

                                @media (min-width: 1025px) {
                                    padding: 6px 4px;
                                }

                                @media (max-width: 1024px) {
                                    max-height: 50vh;
                                    margin-top: 20px;
                                }
                            }

                            & > button > svg {
                                transform: rotate(-90deg);

                                @media (max-width: 1024px) {
                                    transform: rotate(180deg);
                                }
                            }
                        }

                        @media (any-hover: hover) {
                            &:hover {
                                @media (min-width: 1025px) {
                                    background-color: $accent;
                                }

                                ul {
                                    opacity: 1;
                                    pointer-events: all;
                                    visibility: visible;

                                    @media (min-width: 1025px) {
                                        padding: 6px 4px;
                                    }

                                    @media (max-width: 1024px) {
                                        max-height: 50vh;
                                    }
                                }

                                button > svg {
                                    transform: rotate(-90deg);

                                    @media (max-width: 1024px) {
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                        }

                        svg {
                            transform: rotate(-90deg);

                            @media (max-width: 1024px) {
                                transform: rotate(0deg);
                            }
                        }

                        a {
                            @media (min-width: 1025px) {
                                width: 100%;
                                padding: 13px 16px;
                            }
                        }

                        ul {
                            @media (min-width: 1025px) {
                                position: absolute;
                                top: 16px;
                                left: 0;
                                transform: translate(100%, 0);

                                border-radius: 0 8px 8px 0;
                            }

                            @media (max-width: 1024px) {
                                & > :last-child {
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &._sticky {
        background-color: #000;

        @media (max-width: 1024px) {
            background-color: $black;
        }

        @media (min-width: 1025px) {
            .header__top {
                max-height: 0;
                padding: 0;
            }

            .header__bottom {
                justify-content: space-between;
                padding: 8px 0;
            }

            .header__bottom-btn {
                max-width: 202px;
            }

            nav > ul {
                @include adaptive-value("gap", 24, -11, 1);

                li a {
                    font-size: 13.5px;
                }
            }
        }
    }
}
