.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color: $black, $alpha: 0.8);
    width: 100%;
    height: 100vh;
    z-index: 100;

    overflow-y: auto;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.3s ease 0s;

    &._open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;

        .popup__content {
            transform: translate3d(0, 0, 0);
        }
    }

    // .popup__container

    &__container {
        @media (max-width: 768px) {
            min-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    // .popup__close

    &__close {
        position: absolute;
        top: 0;
        left: calc(100% + 12px);

        display: flex;
        justify-content: center;
        align-items: center;

        width: 52px;
        height: 52px;

        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: unset;
        transition: all 0.3s ease 0s;

        @media (max-width: 768px) {
            right: 0;
            left: unset;
            top: calc(-52px - 12px);
        }

        svg {
            width: 40px;
            height: 40px;
            flex: 0 0 auto;
            stroke: $white;
            stroke-width: 2px;
            transition: all 0.3s ease 0s;
        }

        img,
        svg {
            pointer-events: none;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $white;

                img,
                svg {
                    stroke: $black;
                    transform: rotate(90deg);
                }
            }
        }
    }

    // .popup__body

    &__body {
        padding-top: 120px;
        padding-bottom: 30px;

        @media (max-width: 768px) {
            padding-top: 92px;
        }
    }

    // .popup__content

    &__content {
        transform: translate3d(100px, 0, 0);
        transition: all 0.3s ease 0s;

        position: relative;
        max-width: 522px;
        width: 100%;
        margin: 0 auto;

        @include adaptive-value("padding-top", 52, 24, 1);
        @include adaptive-value("padding-bottom", 68, 32, 1);
        @include adaptive-value("padding-left", 80, 20, 1);
        @include adaptive-value("padding-right", 80, 20, 1);

        border-radius: 8px;
        background: $white;

        @media (max-width: 768px) {
            border-radius: 16px;
            margin: 0;
            margin-left: auto;
            margin-right: auto;
            border-radius: 8px;
        }

        label {
            width: 100%;
            display: block;
            text-align: center;
            color: $black;
            @include adaptive-value("font-size", 36, 26, 1);
            font-weight: 700;
            line-height: 115%;
            @include adaptive-value(" letter-spacing", -0.72, -0.52, 1);
            @include adaptive-value("margin-bottom", 60, 32, 1);
        }
    }

    .form__item {
        textarea,
        input {
            border: 1px solid #bec6cb;

            transition: border-color 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    border-color: $accent;
                }
            }
        }
    }

    .form__upload {
        &:after {
            border-color: $white;
        }

        div {
            color: $black;
        }

        span {
            color: rgba($color: $black, $alpha: 0.6);
        }
    }

    .form__send {
        flex-direction: column;
        align-items: center;
        margin-top: 24px;

        input {
            width: 100%;
            max-width: none;
        }

        p {
            margin-top: 32px;
            color: rgba($color: $black, $alpha: 0.6);
            text-align: center;
            margin-left: 0;

            @media (max-width: 768px) {
                margin-top: 24px;
            }
        }
    }

    &#callback {
    }

    &#calculate {
        .popup__content {
            max-width: 916px;

            @media (max-width: 1200px) and (min-width: 769px) {
                max-width: calc(100% - 124px);
            }
        }

        @media (min-width: 769px) {
            .form__send {
                flex-direction: row;
                gap: 32px;

                input {
                    width: 50%;
                }

                p {
                    text-align: left;
                    margin-top: 0;
                    width: 50%;
                }
            }
        }
    }

    &.form-result {
        text-align: center;

        .icon {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 21px;

            @include adaptive-value("width", 84, 56, 1);
        }

        h3 {
            color: $black;
            margin-bottom: 11px;

            @include adaptive-value("font-size", 36, 26, 1);

            @media (max-width: 768px) {
                margin-bottom: 8px;
            }
        }

        p {
            color: rgba($color: $black, $alpha: 0.8);

            font-size: 17px;

            @media (max-width: 768px) {
                font-size: 15px;
            }
        }

        ._btn {
            margin-top: 40px;
            width: 100%;

            @media (max-width: 768px) {
                margin-top: 32px;
            }
        }
    }
}
