.why__item {
    h3 {
        color: $black;
        margin-top: 12px;
        margin-bottom: 8px;

        @media (max-width: 1024px) {
            margin-top: 10px;
        }
    }

    p {
        max-width: 255px;
        font-size: 15px;
        color: rgba($color: $black, $alpha: 0.8);
    }

    svg,
    img {
        width: 63px;
        height: 63px;
        fill: $accent;

        @media (max-width: 1024px) {
            width: 47px;
            height: 47px;
        }
    }
}

.service-card {
    display: flex;
    flex-direction: column;

    @media (min-width: 769px) {
        min-height: 100%;
    }

    @media (any-hover: hover) {
        &:hover {
            .service-card__img::after {
                background: linear-gradient(72deg, rgba(28, 84, 199, 0.48) 20%, rgba(28, 84, 199, 0) 104.94%);
            }

            .next {
                background-color: $white;

                svg {
                    fill: $black;
                }
            }
        }
    }

    // .service-card__top

    &__top {
        position: relative;
        flex: 1 1 auto;
        margin-bottom: 20px;
        padding-bottom: 40.25%;
    }

    // .service-card__img

    &__img {
        overflow: hidden;
        position: relative;

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        @include adaptive-value("border-radius", 20, 16, 1);

        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            background: linear-gradient(72deg, rgba(28, 84, 199, 0.48) 7.7%, rgba(28, 84, 199, 0) 104.94%);
            transition: all 0.3s ease 0s;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .labels {
        position: absolute;
        @include adaptive-value("inset", 24, 12, 1);
    }

    // .service-card__bottom

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ._label {
        pointer-events: none;
        position: absolute;
        z-index: 2;

        // ._label-price

        &-price {
            bottom: 0;
            left: 0;
            background-color: $accent;
        }

        // ._label-hit

        &-hit {
            top: 0;
            right: 0;
        }
    }

    h3 {
        margin-right: 20px;

        @media (min-width: 1025px) {
            @include adaptive-value("padding-left", 28, 0, 1);
        }

        @media (max-width: 768px) {
            margin-left: 0;
            max-width: 200px;
        }
    }
}

.steps {
    counter-reset: count;
}

.step-card {
    counter-increment: count;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: relative;
    border-radius: 16px;
    background-color: $dark-grey;
    width: 100%;

    transition: background-color 0.3s ease 0s;
    cursor: pointer;

    @include adaptive-value("height", 425, 288, 1);
    @include adaptive-value("padding-top", 32, 24, 1);
    @include adaptive-value("padding-bottom", 48, 32, 1);
    @include adaptive-value("padding-left", 32, 24, 1);
    @include adaptive-value("padding-right", 32, 24, 1);

    @media (any-hover: hover) {
        &:hover {
            background-color: #151618;

            p {
                color: $white;
            }
        }
    }

    &:before {
        display: block;
        content: "0" counter(count);
        position: absolute;
        top: 32px;
        right: 32px;
        color: rgba($color: $white, $alpha: 0.6);
        font-size: 15px;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        @include adaptive-value("width", 80, 60, 1);
        @include adaptive-value("height", 80, 60, 1);

        svg,
        img {
            fill: $accent;
        }
    }

    h3 {
        @include adaptive-value("margin-top", 40, 3, 1);
        @include adaptive-value("margin-bottom", 16, 8, 1);
    }

    p {
        max-width: 232px;
        width: 100%;
        color: rgba($color: $white, $alpha: 0.8);
        font-size: 15px;

        transition: color 0.3s ease 0s;
    }
}

.mark-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100%;
    background-color: $white;
    border-radius: 8px;

    color: rgba($color: $black, $alpha: 0.4);
    font-size: 13px;
    line-height: 1.2;

    padding: 17px 24px 9px 24px;

    @media (any-hover: hover) {
        &:hover {
            img {
                filter: grayscale(0);
            }
        }
    }

    img {
        filter: grayscale(1);
        transition: filter 0.3s ease 0s;
    }

    span {
        display: block;
        margin-top: 6px;
    }
}

.review-card {
    border-radius: 8px;
    border: 1px solid rgba($color: $white, $alpha: 0.6);
    min-height: 100%;

    padding-bottom: 30px;
    @include adaptive-value("padding-top", 34, 24, 1);
    @include adaptive-value("padding-right", 32, 24, 1);
    @include adaptive-value("padding-left", 40, 24, 1);

    display: flex;
    flex-direction: column;

    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            background-color: $white;
            color: $black;

            div span {
                color: rgba($color: $black, $alpha: 0.6);
            }

            img,
            svg {
                fill: rgba($color: $black, $alpha: 0.1);
            }
        }
    }

    // .review-card__rating

    &__rating {
        width: 107px;
        margin-bottom: 24px;
    }

    p {
        font-size: 17px;
        flex: 1 1 auto;

        @media (max-width: 768px) {
            font-size: 15px;
        }
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;

        @media (max-width: 768px) {
            font-size: 15px;
        }

        span {
            display: block;
            margin-top: 5px;
            font-size: 15px;
            color: rgba($color: $white, $alpha: 0.6);
            transition: color 0.3s ease 0s;
        }

        img,
        svg {
            width: 56px;
            margin-left: 10px;
            flex: 0 0 auto;
            fill: rgba($color: $white, $alpha: 0.2);
            transition: fill 0.3s ease 0s;
        }
    }
}

.trust-card {
    display: flex;
    min-height: 100%;

    border-radius: 8px;
    border: 1px solid rgba($color: $white, $alpha: 0.6);

    padding: 24px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 22px;
    transition: all 0.3s ease 0s;

    @media (max-width: 768px) {
        padding: 24px;
        flex-direction: column;
    }

    // .trust-card__img

    &__img {
        flex: 0 0 auto;
        margin-right: 24px;
        width: 27.5%;
        min-width: 70px;

        @media (max-width: 768px) {
            margin-right: 0;
            margin-bottom: 16px;
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    // .trust-card__text

    &__text {
        display: flex;
        flex-direction: column;
        padding: 12px 0;

        @media (max-width: 768px) {
            padding: 0;
        }

        ._label-block {
            flex: 1 1 auto;

            span {
                font-size: 17px;
                font-weight: 700;
            }
        }

        div {
            margin-top: 12px;

            font-size: 15px;
            color: rgba($color: $white, $alpha: 0.6);
        }
    }

    @media (any-hover: hover) {
        &:hover {
            background-color: $accent;
            border: 1px solid $accent;
        }
    }
}

.work-slide {
    // .work-slide__images

    &__images {
        display: flex;
        gap: 24px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 8px;
        }
    }

    // .work-slide__img

    &__img {
        position: relative;
        width: calc(50% - 12px);
        padding-bottom: 35%;

        @media (max-width: 768px) {
            width: 100%;
            min-height: calc(50% - 4px);
            padding-bottom: 71%;
        }

        span {
            position: absolute;
            bottom: 12px;
            left: 12px;

            z-index: 1;

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            background-color: $white;
            color: $black;
            font-size: 15px;
            border-radius: 10px;
            width: 73px;
            height: 40px;

            display: none;

            @media (max-width: 768px) {
                display: flex;
            }
        }
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    // .work-slide__info

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        margin-top: 12px;

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 24px;
            text-align: center;
        }

        h3 {
            color: $white;
            font-size: 17px;
            font-weight: 700;
            line-height: 1.15;
            letter-spacing: -0.02em;

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }
    }
}

.reviews-list__card {
    position: relative;
    border-radius: 8px;
    border: 1px solid rgba($color: $white, $alpha: 0.6);

    @include adaptive-value("padding-top", 40, 24, 1);
    @include adaptive-value("padding-right", 40, 24, 1);
    @include adaptive-value("padding-bottom", 48, 24, 1);

    @media (min-width: 769px) {
        @include adaptive-value("padding-left", 166, 83, 1);
    }

    @media (max-width: 768px) {
        @include adaptive-value("padding-left", 40, 24, 1);
    }

    // .reviews-list__card-date

    &-date {
        @media (min-width: 769px) {
            position: absolute;
            @include adaptive-value("top", 40, 24, 1);
            @include adaptive-value("right", 40, 24, 1);
        }

        display: flex;
        align-items: center;
        gap: 32px;

        color: rgba(250, 250, 250, 0.6);
        font-size: 15px;
        letter-spacing: 0.01em;

        @media (max-width: 768px) {
            justify-content: space-between;
            width: 100%;
            margin-bottom: 32px;
        }

        img {
            width: 107px;
        }
    }

    // .reviews-list__card

    &-name {
        position: relative;
        display: flex;
        gap: 20px;

        @include adaptive-value("margin-bottom", 32, 24, 1);

        ._label-block {
            span {
                display: block;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 4px;

                @media (max-width: 768px) {
                    font-size: 17px;
                }
            }

            label {
                margin-bottom: 0;
            }
        }

        svg {
            @include adaptive-value("width", 86, 60, 1);
            fill: $white;
            opacity: 0.9;

            @media (min-width: 769px) {
                position: absolute;
                top: 0;
                transform: translate(-100%, 0);
                @include adaptive-value("left", -40, -20, 1);
            }
        }
    }

    ._label-block {
        max-width: 932px;

        &:not(.customer) {
            span {
                @media (min-width: 769px) {
                    font-size: 17px;
                }
            }

            &:last-child {
                @include adaptive-value("margin-top", 32, 20, 1);
            }
        }
    }
}
