.hero {
    background-image: url("@img/home-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    @include adaptive-value("margin-bottom", 72, 40, 1);

    @media (max-width: 768px) {
        background-position: bottom right;
        background-size: 100% 550px;
    }

    // .hero__container

    &__container {
    }

    // .hero__body

    &__body {
        @include adaptive-value("padding-top", 222, 104, 1);
        @include adaptive-value("padding-bottom", 80, 40, 1);

        h1 {
            @include adaptive-value("margin-bottom", 56, 24, 1);
        }
    }

    // .hero__top

    &__top {
        display: flex;
        margin-bottom: 37px;

        @media (max-width: 768px) {
            display: block;
        }

        // .hero__top-left

        &-left {
        }

        // .hero__top-right

        &-right {
            position: relative;
            flex: 1 1 auto;
            max-width: 50%;

            &[data-animate-right] {
                transform: translate3d(75%, 0, 0);
            }

            @media (max-width: 768px) {
                width: 100%;
                margin-top: 152px;
            }

            img {
                position: absolute;
                left: -66px;
                bottom: -43px;
                max-width: none;

                @include adaptive-value("width", 1260, 661, 1);

                @media (max-width: 768px) {
                    left: -17px;
                    bottom: 0;
                }
            }
        }
    }

    // .hero__info

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        gap: 10px;
        padding: 10px 17px;
        border-radius: 8px;
        background-color: rgba($color: $white, $alpha: 0.05);
        color: rgba($color: $white, $alpha: 0.6);

        font-size: 17px;
        font-weight: 700;

        @media (max-width: 1024px) {
            padding: 9.5px 12px;
            font-size: 15px;
            font-weight: 500;
            gap: 4px;
        }

        strong {
            color: $white;
        }
    }

    // .hero__size

    &__size {
        position: relative;
        z-index: 2;

        span {
            display: block;
            @include adaptive-value("margin-bottom", 12, 7, 1);
            font-size: 15px;

            color: rgba($color: $white, $alpha: 0.6);
        }

        ol {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 10px 16px;
            padding: 16px;
            width: fit-content;
            position: relative;

            @media (max-width: 1024px) {
                gap: 10px;
            }

            @media (max-width: 768px) {
                display: block;
                gap: 0;
                width: 100%;

                & > :not(:last-child) {
                    margin-bottom: 10px;
                }
            }

            &:before {
                opacity: 0.4;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 8px;
                border: 1px solid transparent;
                background: linear-gradient(90deg, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0.2)) border-box;

                -webkit-mask:
                    linear-gradient($white 0 0) padding-box,
                    linear-gradient($white 0 0);
                mask:
                    linear-gradient($white 0 0) padding-box,
                    linear-gradient($white 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
            }

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                gap: 10px;
                padding: 10px 17px;
                border-radius: 8px;
                background-color: rgba($color: $white, $alpha: 0.05);
                color: rgba($color: $white, $alpha: 0.6);

                font-size: 17px;
                font-weight: 700;

                @media (max-width: 1024px) {
                    padding: 9.5px 12px;
                    font-size: 15px;
                    font-weight: 500;
                    gap: 4px;
                }

                strong {
                    color: $white;
                }
            }
        }
    }

    // .hero__bottom

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        position: relative;
        z-index: 2;
    }

    .hero__btns {
        display: flex;
        align-items: center;
        gap: 20px;

        @media (max-width: 1024px) {
            width: 100%;
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }

        button {
            width: 245px;

            @media (max-width: 1024px) {
                width: 100%;
            }

            @media (max-width: 768px) {
                br {
                    display: none;
                }
            }
        }
    }
}

.hero-polirovka {
    @media (max-width: 768px) {
        background-position: bottom right;
        background-size: 200% 550px;
    }

    h1 {
        margin: 0 !important;
    }
    .hero__btns {
        @include adaptive-value("margin-top", 50, 48, 1);
        @include adaptive-value("margin-bottom", 68, 48, 1);
    }

    .hero__body {
        @media (max-width: 768px) {
            padding-bottom: 0 !important;
        }
    }

    .hero__top {
        @include adaptive-value("margin-bottom", 112, 48, 1);

        @media (max-width: 768px) {
            margin: 0 !important;
            position: relative;

            &:after {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                width: 100vw;
                margin-left: -16px;
                height: 133px;
                background: linear-gradient(345deg, #000 10.13%, rgba(0, 0, 0, 0) 69.17%);
            }
        }
    }

    .hero__top-left {
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;

            align-items: center;
        }
    }

    .hero__top-right {
        position: relative;
        flex: 1 1 auto;
        max-width: 50%;

        &[data-animate-right] {
            transform: translate3d(75%, 0, 0);
        }

        @media (max-width: 768px) {
            width: 100%;
            margin-top: 152px;
            @include adaptive-value("height", 300, 85, 1);
        }

        img {
            position: absolute;
            @include adaptive-value("left", 90, -400, 1);
            @include adaptive-value("bottom", -124, -200, 1);
            max-width: none;

            @include adaptive-value("width", 935, 542, 1);

            @media (max-width: 768px) {
                left: 28px;
                bottom: 0;
            }
        }
    }
}

.hero-services {
    background-image: url("@img/services-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(6, 6, 6, 0.6);
    }

    @media (max-width: 425px) {
        background-size: unset;
        background-position: unset;
        background-size: cover;
        background-image: url("@img/services-mobile-bg.png");
    }

    .mark-logo {
        @include adaptive-value("margin-bottom", 20, 24, 1);
        @include adaptive-value("width", 170, 160, 1);
        @include adaptive-value("height", 104, 98, 1);
    }

    h1 {
        margin: 0;
        text-align: center;

        @media (max-width: 768px) {
            br {
                display: none;
            }
        }
    }

    .hero__body {
        position: relative;
        z-index: 2;
        @include adaptive-value("padding-top", 260, 216, 1);
        @include adaptive-value("padding-bottom", 266, 136, 1);
    }

    .hero__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .hero__btns {
        @include adaptive-value("margin-top", 40, 72, 1);
        @include adaptive-value("margin-bottom", 68, 48, 1);

        @media (max-width: 768px) {
            gap: 8px;
        }
    }
}

.hero-works {
    @include adaptive-value("padding-top", 260, 132, 1);
    @include adaptive-value("margin-bottom", 84, 48, 1);

    .filter {
        display: none;
    }

    h1 {
        text-align: center;
        @include adaptive-value("margin-bottom", 24, 40, 1);
    }

    .section__top {
        @include adaptive-value("margin-bottom", 68, 24, 1);
    }

    .section__top-flex {
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 8px;

        & > :not(:last-child) {
            border-right: 1px solid rgba(255, 255, 255, 0.4);
        }

        button {
            width: 100%;
            height: 48px;
            text-align: center;
            @include adaptive-value("padding-left", 43, 0, 1);
            @include adaptive-value("padding-right", 43, 0, 1);

            transition: all 0.3s ease 0s;
            border: 1px solid rgba(255, 255, 255, 0);
            color: rgba($color: $white, $alpha: 0.6);
            white-space: nowrap;
            @include adaptive-value("font-size", 17, 15, 1);

            &._active {
                color: $white;
                border: 1px solid rgba(255, 255, 255, 1);
            }

            @media (any-hover: hover) {
                &:hover {
                    color: $white;
                    border: 1px solid rgba(255, 255, 255, 1);
                }
            }
        }
    }
}

.hero-about {
    background-image: unset;

    h1 {
        text-align: center;
    }

    .swiper {
        @media (max-width: 768px) {
            overflow: visible;
        }

        // .swiper-wrapper

        &-wrapper {
            @media (min-width: 769px) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 16px;
            }
        }

        // .swiper-slide

        &-slide {
            @media (max-width: 768px) {
                max-width: 280px;
            }
        }
    }

    .about {
        // .about-card

        &-card {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.local-remont {
    background-image: url("@img/service-page/local-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media (max-width: 425px) {
        background-size: unset;
        background-position: bottom center;
        background-size: cover;
        background-image: url("@img/service-page/local-mobile-bg.png");
    }

    .hero__btns {
        margin-top: 40px !important;
    }
}

.scroll-down {
    display: flex;
    align-items: center;
    gap: 16px;
    color: rgba($color: $white, $alpha: 0.6);
    font-size: 15px;

    @media (max-width: 1024px) {
        display: none;
    }

    * {
        pointer-events: none;
    }

    div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid currentColor;
    }

    svg {
        width: 17px;
        height: 17px;
        fill: $white;
    }
}
