.hero {
    background-image: url("@img/home-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    @include adaptive-value("margin-bottom", 72, 40, 1);

    @media (max-width: 768px) {
        background-position: bottom right;
        background-size: 100% 550px;
    }

    // .hero__container

    &__container {
    }

    // .hero__bgi

    &__bgi {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        // .hero__bgi-mb
        &-mb {
            display: none;

            @media (max-width: 768px) {
                display: block;
            }
        }

        // .hero__bgi-dsk
        &-dsk {
            display: block;
        }

        &:has(.hero__bgi-mb) {
            .hero__bgi-dsk {
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }

    // .hero__body

    &__body {
        @include adaptive-value("padding-top", 222, 104, 1);
        @include adaptive-value("padding-bottom", 80, 40, 1);

        h1 {
            @include adaptive-value("margin-bottom", 56, 24, 1);
        }
    }

    // .hero__top

    &__top {
        display: flex;
        margin-bottom: 37px;

        @media (max-width: 768px) {
            display: block;
        }

        // .hero__top-left

        &-left {
            flex: 1 1 auto;
            max-width: 50%;

            @media (max-width: 768px) {
                max-width: none;
            }
        }

        // .hero__top-right

        &-right {
            position: relative;
            flex: 1 1 auto;
            max-width: 50%;

            &[data-animate-right] {
                transform: translate3d(75%, 0, 0);
            }

            @media (max-width: 768px) {
                width: 100%;
                margin-top: 152px;
            }

            img {
                position: absolute;
                left: -66px;
                bottom: -43px;
                max-width: none;

                @include adaptive-value("width", 1260, 661, 1);

                @media (max-width: 768px) {
                    left: -17px;
                    bottom: 0;
                }
            }
        }
    }

    // .hero__size

    &__size {
        position: relative;
        z-index: 2;

        span {
            display: block;
            @include adaptive-value("margin-bottom", 12, 7, 1);
            font-size: 15px;

            color: rgba($color: $white, $alpha: 0.6);
        }

        ol {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 10px 16px;
            padding: 16px;
            width: fit-content;
            position: relative;

            @media (max-width: 1024px) {
                gap: 10px;
            }

            @media (max-width: 768px) {
                display: block;
                gap: 0;
                width: 100%;

                & > :not(:last-child) {
                    margin-bottom: 10px;
                }
            }

            &:before {
                opacity: 0.4;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 8px;
                border: 1px solid transparent;
                background: linear-gradient(90deg, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0.2)) border-box;

                -webkit-mask:
                    linear-gradient($white 0 0) padding-box,
                    linear-gradient($white 0 0);
                mask:
                    linear-gradient($white 0 0) padding-box,
                    linear-gradient($white 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
                pointer-events: none;
            }

            li {
            }
        }
    }

    // .hero__bottom

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        position: relative;
        z-index: 2;
    }

    // .hero__btns

    &__btns {
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 1;

        @media (max-width: 1024px) {
            width: 100%;
            gap: 15px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 8px;
        }

        button {
            width: 245px;

            @media (max-width: 1024px) {
                width: 100%;
            }

            @media (max-width: 768px) {
                br {
                    display: none;
                }
            }
        }
    }
}

.hero-page {
    @media (max-width: 768px) {
        background-position: bottom right;
        background-size: 200% 550px;
    }

    h1 {
        margin: 0 !important;

        @media (max-width: 768px) {
            text-align: center;
        }
    }

    .hero__btns {
        @include adaptive-value("margin-top", 50, 48, 1);
        @include adaptive-value("margin-bottom", 68, 48, 1);

        ._btn {
            @media (min-width: 769px) {
                min-width: 235px
            }
        }
    }

    .hero__body {
        @media (max-width: 768px) {
            padding-bottom: 0 !important;
        }
    }

    .hero__top {
        @include adaptive-value("margin-bottom", 112, 48, 1);

        @media (max-width: 768px) {
            margin: 0 !important;
            position: relative;

            &:after {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                width: 100vw;
                margin-left: -16px;
                height: 133px;
                background: linear-gradient(345deg, #000 10.13%, rgba(0, 0, 0, 0) 69.17%);
            }
        }
    }

    .hero__top-left {
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;

            align-items: center;
        }
    }

    .hero__top-right {
        position: relative;
        flex: 1 1 auto;
        max-width: 50%;

        &[data-animate-right] {
            transform: translate3d(75%, 0, 0);
        }

        @media (max-width: 768px) {
            width: 100%;
            margin-top: 152px;
            @include adaptive-value("height", 300, 85, 1);
        }

        img {
            @media (min-width: 769px) {
                @include adaptive-value("left", 90, -400, 1);
                @include adaptive-value("bottom", -124, -200, 1);
            }

            position: absolute;
            max-width: none;
            @include adaptive-value("width", 935, 542, 1);

            @media (max-width: 768px) {
                left: 28px !important;
                bottom: 0 !important;
            }
        }
    }
}

.hero-services {
    background-image: none;
    position: relative;

    .hero__bgi {
    }

    &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(6, 6, 6, 0.6);
    }

    .mark-logo {
        @include adaptive-value("margin-bottom", 20, 24, 1);
        width: 170px;
        height: 104px;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;

        @media (max-width: 768px) {
            width: 160px;
            height: 98px;
        }
    }

    h1 {
        margin: 0;
        text-align: center;

        @media (max-width: 768px) {
            br {
                display: none;
            }
        }
    }

    .hero__body {
        position: relative;
        z-index: 2;
        @include adaptive-value("padding-top", 260, 216, 1);
        @include adaptive-value("padding-bottom", 266, 136, 1);
    }

    .hero__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .hero__btns {
        @include adaptive-value("margin-top", 40, 72, 1);
        @include adaptive-value("margin-bottom", 68, 48, 1);

        @media (max-width: 768px) {
            gap: 8px;
        }
    }
}

.hero-works {
    @include adaptive-value("padding-top", 260, 132, 1);
    @include adaptive-value("margin-bottom", 84, 48, 1);

    h1 {
        text-align: center;
        @include adaptive-value("margin-bottom", 24, 40, 1);
    }

    .section__top {
        @include adaptive-value("margin-bottom", 68, 24, 1);
    }

    // .hero-works__filter

    &__filter {
        &-title {
            padding: 0 16px;

            @media (min-width: 769px) {
                display: none;
            }

            @media (max-width: 768px) {
                width: 100%;
                max-width: none;
                margin-bottom: 8px;
            }

            * {
                pointer-events: none;
            }

            &._active {
                svg {
                    transform: rotate(180deg);
                }
            }

            svg {
                fill: currentColor;
                width: 10px;
                margin-left: auto;
                margin-right: 0;

                transition: all 0.3s ease 0s;
            }

            span {
                padding-left: 7px;
            }
        }

        // .hero-works__filter-tags

        &-tags {
            @media (min-width: 769px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            @media (max-width: 768px) {
                overflow: hidden;
                max-height: 0;
                transition: max-height 0.3s ease 0s;
                position: relative;

                &._active {
                    max-height: 50vh;
                }

                &:before {
                    display: block;
                    position: absolute;
                    content: "";
                    inset: 1px;
                    box-shadow: 0px 0px 1px 1px $white;
                    border-radius: 8px;
                    pointer-events: none;
                }
            }
        }

        [data-tag] {
            width: 100%;
            max-width: 180px;
            height: 48px;
            text-align: center;

            padding: 0 10px;

            transition: all 0.3s ease 0s;
            color: rgba($color: $white, $alpha: 0.6);
            border: 1px solid currentColor;

            font-size: 17px;
            white-space: nowrap;

            &._active {
                color: $white;
            }

            @media (any-hover: hover) {
                &:hover {
                    color: $white;
                }
            }

            @media (max-width: 768px) {
                font-size: 15px;
                border: 0;
                width: 100%;
                max-width: none;
                text-align: left;
                padding: 0 16px;
            }

            @media (min-width: 769px) {
                &:first-child {
                    border-radius: 8px 0 0 8px;
                }

                &:last-child {
                    border-radius: 0 8px 8px 0;
                }
            }
        }
    }

    .works-pagination {
        display: none;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            display: flex;
        }
    }

    .swiper-wrapper {
        @media (min-width: 769px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px 60px;

            @media (max-width: 1024px) {
                gap: 30px 40px;
            }
        }
    }

    .work-slide__img span {
        display: flex;
    }
}

.hero-about {
    background-image: unset;

    h1 {
        text-align: center;
        width: 100%;
    }

    .swiper {
        @media (max-width: 768px) {
            overflow: visible;
        }

        // .swiper-wrapper

        &-wrapper {
            @media (min-width: 769px) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 16px;
            }
        }

        // .swiper-slide

        &-slide {
            @media (max-width: 768px) {
                max-width: 280px;
            }
        }
    }

    .about {
        // .about-card

        &-card {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.service-child {
    .hero__btns {
        margin-top: 40px !important;
    }
}

.service-mark {
    .hero__body {
        @include adaptive-value("padding-top", 208, 152, 1);
        @include adaptive-value("padding-bottom", 190, 78, 1);
    }
}

.scroll-down {
    display: flex;
    align-items: center;
    gap: 16px;
    color: rgba($color: $white, $alpha: 0.6);
    font-size: 15px;

    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            color: $white;
        }
    }

    @media (max-width: 1024px) {
        display: none;
    }

    * {
        pointer-events: none;
    }

    div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid currentColor;
    }

    svg {
        width: 17px;
        height: 17px;
        fill: $white;
    }
}

.loading {
    text-align: center;
    width: 100%;
    @include adaptive-value("font-size", 16, 14, 1);
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;

    span {
        display: block;
        border: 2px solid $accent;
        border-radius: 50%;
        border-top: 2px solid currentColor;
        width: 1em;
        height: 1em;
        margin-left: 0.5em;

        animation: spinner 2s linear infinite;

        @keyframes spinner {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }

    &._hide {
        display: none;
    }
}
