.hero-works {
    @include adaptive-value("padding-top", 260, 132, 1);
    @include adaptive-value("margin-bottom", 84, 48, 1);

    .filter {
        display: none;
    }

    h1 {
        text-align: center;
        @include adaptive-value("margin-bottom", 24, 40, 1);
    }

    .section__top {
        @include adaptive-value("margin-bottom", 68, 24, 1);
    }

    .section__top-flex {
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 8px;

        & > :not(:last-child) {
            border-right: 1px solid rgba(255, 255, 255, 0.4);
        }

        button {
            width: 100%;
            height: 48px;
            text-align: center;
            @include adaptive-value("padding-left", 43, 0, 1);
            @include adaptive-value("padding-right", 43, 0, 1);

            transition: all 0.3s ease 0s;
            border: 1px solid rgba(255, 255, 255, 0);
            color: rgba($color: $white, $alpha: 0.6);
            white-space: nowrap;
            @include adaptive-value("font-size", 17, 15, 1);

            &._active {
                color: $white;
                border: 1px solid rgba(255, 255, 255, 1);
            }

            @media (any-hover: hover) {
                &:hover {
                    color: $white;
                    border: 1px solid rgba(255, 255, 255, 1);
                }
            }
        }
    }
}
