.hero-reviews {
    @include adaptive-value("padding-top", 260, 132, 1);
    @include adaptive-value("margin-bottom", 64, 45, 1);

    .section__top {
        h1 {
            @media (min-width: 769px) {
                margin-bottom: -24px;
            }
        }

        @media (max-width: 768px) {
            h1,
            p {
                text-align: center;
            }
        }

        // .section__top-flex

        &-flex {
            @media (min-width: 769px) {
                align-items: flex-end;
            }
        }
    }

    ol {
        display: flex;
        justify-content: center;

        border-radius: 8px;

        border: 1px solid rgba($color: $white, $alpha: 0.4);

        @include adaptive-value("padding-top", 60, 40, 1);
        @include adaptive-value("padding-bottom", 63, 47, 1);
        @include adaptive-value("padding-left", 120, 60, 1);
        @include adaptive-value("padding-right", 120, 60, 1);

        padding-left: 20px;
        padding-right: 20px;

        @media (min-width: 769px) {
            @include adaptive-value("gap", 49, 10, 1);
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 32px;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $white;

            span,
            label {
                display: block;
                text-align: center;
            }

            span {
                @include adaptive-value("font-size", 17, 15, 1);

                @include adaptive-value("margin-top", 18, 20, 1);
                @include adaptive-value("margin-bottom", 9, 13, 1);

                letter-spacing: 0.17px;
            }

            label {
                font-size: 24px;
                font-weight: 700;
                letter-spacing: -0.48px;
            }

            .stars {
                max-width: 151px;

                @media (max-width: 768px) {
                    max-width: 136px;
                }
            }
        }
    }

    ._center {
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-width: 0 1px 0 1px;

        @media (min-width: 769px) {
            @include adaptive-value("padding-left", 49, 10, 1);
            @include adaptive-value("padding-right", 49, 10, 1);
        }

        @media (max-width: 768px) {
            border-width: 1px 0;
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }
}

.reviews-list {
    @include adaptive-value("margin-bottom", 100, 56, 1);

    // .reviews-list__list

    &__list {
        @include adaptive-value("margin-bottom", 48, 24, 1);

        & > :not(:last-child) {
            @include adaptive-value("margin-bottom", 32, 16, 1);
        }
    }

    ._btn-big {
        width: 100%;
    }
}
